/* importing the font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* giving appropriate values to the entire body */
body {
  margin: 0 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #C6C4C4;
}

html{
  scroll-behavior: smooth; /* smooth scrolling for the page */
}

/* giving appropriate values to top navigation */
.topnav {
  background-color: #f2f2f2;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* underline the links on hover */
.topnav a:hover {
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 5px;
}

/* style the elements towards the right of the nav bar */
.topnav-right {
  margin-right: 7.5%;
  float: right;
}

/* initially, dont display the hamburger icon (for bigger screens) */
.topnav .icon {
  display: none;
}

/* giving a margin to my name in the nav bar */
#me{
  margin-left: 7.5%;
}

/* styling the "choose your color" heading */
#choose{
  margin-top: 70px;
  margin-right: 7.5%;
  margin-left: 7.5%;
  text-align: center;
}

/* centering the colored dots */
#dots{
  text-align: center;
}

/* setting appropriate values of elements for the "about" section */
#about{
  text-align: center;
  margin-left: 7.5%;
  margin-right: 7.5%;
  padding-top: 70px;
}


.about-text{
  color: #737373;
}

/* setting appropriate values of elements for the "a day in my life" section */
#day{
  text-align: center;
  margin-left: 7.5%;
  margin-right: 7.5%;
  padding-top: 70px;
}

.my_image {
  width: 80%;
}

#chart{
  width: 90%;
}

/* setting appropriate values of elements for the "work" section */
#work{
  text-align: center;
  margin-left: 7.5%;
  margin-right: 7.5%;
  padding-top: 70px;
}

.works{
  padding-top: 70px;
  text-align: center;
}

.work-1{
  padding-top: 30px;
  text-align: center;
}

/* styling the gifs */
.gifs{
  width: 90%;
}


/* styling the colored dots */
.dot {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

#blue-dot{
  background-color: #7393B3;
}

#green-dot{
  background-color: #70841F;
}

#yellow-dot{
  background-color: #F9AB1C;
}

#purple-dot{
  background-color: #7F39FB;
}

#footer-box{
  padding-top: 40px;
}

/* styling the footer */
footer {
  text-align: center;
  padding: 1px;
  background-color: #737373;
}

/* styling the social icons in the footer using display, font-size and color */

.icons{
  display: inline-block;
  font-size: 50px;
}

.fa-facebook {
  padding-left: 10px;
  padding-right: 10px;
  color: #4267B2;
}

.fa-instagram {
  padding-left: 10px;
  padding-right: 10px;
  color: #E1306C;
}

.fa-youtube {
  padding-left: 10px;
  padding-right: 10px;
  color: #FF0000;
}

.fa-linkedin {
  padding-left: 10px;
  padding-right: 10px;
  color: #2867B2;
}

/* using a media query to change certain properties when the screen gets
smaller than 600px */
/* here, the horizontal nav bar also changes to a vertical one and the
hamburger becomes visible */
@media screen and (max-width: 600px) {
  a:not(:first-of-type) {
    display: none;
  }

  #useless{
    display: none;
  }

  .topnav-right {
    float: left;
    margin-left: 7.5%;
  }
  .topnav a.icon {
    float: right;
    display: block;
    margin-right: 7.5%;
  }

}

/* using a media query to change certain properties when the screen gets
smaller than 600px */
@media screen and (max-width: 600px) {
  #useless{
    display: none;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }


}

/* giving appropriate values to the flexbox container */
.flexbox-container2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  padding-bottom: 5%;
}

/* using a media query to change certain properties when the screen gets
smaller than 1300px */
@media only screen and (max-width: 1300px) {
  .my_image{
    width: 94%;
  }
}

/* using a media query to change certain properties when the screen gets
smaller than 1147px */
@media only screen and (max-width: 1147px) {
  .flexbox-container2 {
    flex-direction: column
  }
  .flexbox-item2 { 
    width:auto !important;
    height: auto !important;
  }

  .my_image{
    width: 80%;
  }

  #chart{
    width: 100%;
  }

  .works{
    padding-top: 50px;
  }

}

/* styling the second flex box element which is the text */
.flexbox-item2{
  height: 500px;
  width: 650px;
  margin: 10px;
  text-align: center;
}


